In [1]:
import sqlalchemy as sa
import pandas as pd
import datetime as dt
import numpy as np
import os
engine = sa.create_engine("mssql+pymssql://username:password@server/database", echo=True)

In [14]:
TVASPA = pd.read_excel('TVA/TVASPAs.xlsx')
TVASPA.drop(columns=['upc_code'], inplace=True)
TVASPA.drop_duplicates(subset=['item_id'], inplace=True)
TVASPA['inv_mast_uid'] = ''
TVASPA.to_sql('aaron_temp_table', con=engine, if_exists='replace')

GetUID = '''
UPDATE att
SET att.inv_mast_uid = inv_mast.inv_mast_uid
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (inv_mast.item_id = att.item_id)

'''
engine.execute(GetUID)
SelectATTQ = '''SELECT * FROM aaron_temp_table WHERE inv_mast_uid = '' ; '''
SelectQ = pd.read_sql_query(SelectATTQ, engine)
aaron_temp_table = pd.DataFrame(SelectQ)
aaron_temp_table.to_excel('TVA/Master/MissingItemsinP21.xlsx')
DeleteQuery = '''DELETE FROM aaron_temp_table WHERE inv_mast_uid = ''; '''
engine.execute(DeleteQuery)
SelectATTQ = '''SELECT * FROM aaron_temp_table  ; '''
SelectQ = pd.read_sql_query(SelectATTQ, engine)
aaron_temp_table = pd.DataFrame(SelectQ)
aaron_temp_table.drop(columns=['index'],inplace=True)
aaron_temp_table.to_sql('aaron_temp_table', con=engine, if_exists='replace')
aaron_temp_table

2022-02-04 11:16:01,190 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-04 11:16:01,191 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:16:01,244 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-04 11:16:01,246 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:16:01,253 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-02-04 11:16:01,256 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2022-02-04 11:16:01,373 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2022-02-04 11:16:01,374 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2022-02-04 11:16:01,378 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2022-02-04 11:16:01,379 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2022-02-04 11:16:01,403 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-04 11:16:01,403 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:16:01,407 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2022-02-04 11:16:01,408 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:16:01,412 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2022-02-04 11:16:01,413 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-04 11:16:01,415 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2022-02-04 11:16:01,415 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-04 11:16:01,419 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2022-02-04 11:16:01,420 INFO sqlalchemy.engine.base.Engine {}
2022-02-04 11:16:01,423 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:16:01,427 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	item_id VARCHAR(max) NULL,
	supplier_part_no VARCHAR(max) NULL,
	[desc] VARCHAR(max) NULL,
	expiration_date VARCHAR(max) NULL,
	spa_cost FLOAT(53) NULL,
	customer_id BIGINT NULL,
	multi FLOAT(53) NULL,
	inv_mast_uid VARCHAR(max) NULL
)


2022-02-04 11:16:01,428 INFO sqlalchemy.engine.base.Engine {}
2022-02-04 11:16:01,432 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:16:01,434 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2022-02-04 11:16:01,435 INFO sqlalchemy.engine.base.Engine {}
2022-02-04 11:16:01,438 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:16:01,485 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-02-04 11:16:02,046 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], item_id, supplier_part_no, [desc], expiration_date, spa_cost, customer_id, multi, inv_mast_uid) VALUES (%(index)s, %(item_id)s, %(supplier_part_no)s, %(desc)s, %(expiration_date)s, %(spa_cost)s, %(customer_id)s, %(multi)s, %(inv_mast_uid)s)
2022-02-04 11:16:02,047 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'item_id': 'HOF AAA1544', 'supplier_part_no': 'AAA1544', 'desc': 'TVA SPA 02-03-2022 HOF AAA1544', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 90.6948, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 1, 'item_id': 'HOF AAA1588', 'supplier_part_no': 'AAA1588', 'desc': 'TVA SPA 02-03-2022 HOF AAA1588', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 102.58919999999999, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 2, 'item_id': 'HOF ABBLC', 'supplier_part_no': 'ABBLC', 'desc': 'TVA SPA 02-03-2022 HOF ABBLC', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 90.75, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 3, 'item_id': 'HOF ABBSC', 'supplier_part_no': 'ABBSC', 'desc': 'TVA SPA 02-03-2022 HOF ABBSC', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 90.75, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 4, 'item_id': 'HOF ABBSV', 'supplier_part_no': 'ABBSV', 'desc': 'TVA SPA 02-03-2022 HOF ABBSV', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 90.75, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 5, 'item_id': 'HOF ABCC125', 'supplier_part_no': 'ABCC125', 'desc': 'TVA SPA 02-03-2022 HOF ABCC125', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 34.3398, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 6, 'item_id': 'HOF ABCC19', 'supplier_part_no': 'ABCC19', 'desc': 'TVA SPA 02-03-2022 HOF ABCC19', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 61.71, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 7, 'item_id': 'HOF ABCC6', 'supplier_part_no': 'ABCC6', 'desc': 'TVA SPA 02-03-2022 HOF ABCC6', 'expiration_date': datetime.datetime(2022, 12, 31, 0, 0), 'spa_cost': 32.2707, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}  ... displaying 10 of 53609 total bound parameter sets ...  {'index': 53607, 'item_id': 'BUR YSV6CL', 'supplier_part_no': 'YSV6CL', 'desc': 'TVA SPA 02-03-2022 BUR YSV6CL', 'expiration_date': datetime.datetime(2022, 3, 1, 0, 0), 'spa_cost': 0.4, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''}, {'index': 53608, 'item_id': 'BUR YSV8CL', 'supplier_part_no': 'YSV8CL', 'desc': 'TVA SPA 02-03-2022 BUR YSV8CL', 'expiration_date': datetime.datetime(2022, 3, 1, 0, 0), 'spa_cost': 0.22, 'customer_id': 107399, 'multi': 1.2, 'inv_mast_uid': ''})
2022-02-04 11:17:06,259 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:17:06,314 INFO sqlalchemy.engine.base.Engine
UPDATE att
SET att.inv_mast_uid = inv_mast.inv_mast_uid
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (inv_mast.item_id = att.item_id)


2022-02-04 11:17:06,316 INFO sqlalchemy.engine.base.Engine {}
2022-02-04 11:17:07,815 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:17:07,821 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM aaron_temp_table WHERE inv_mast_uid = '' ;
2022-02-04 11:17:07,822 INFO sqlalchemy.engine.base.OptionEngine {}
2022-02-04 11:17:10,543 INFO sqlalchemy.engine.base.Engine DELETE FROM aaron_temp_table WHERE inv_mast_uid = '';
2022-02-04 11:17:10,544 INFO sqlalchemy.engine.base.Engine {}
2022-02-04 11:17:10,650 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:17:10,656 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM aaron_temp_table  ;
2022-02-04 11:17:10,657 INFO sqlalchemy.engine.base.OptionEngine {}
2022-02-04 11:17:11,567 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-04 11:17:11,568 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:17:11,593 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-04 11:17:11,594 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:17:11,599 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-02-04 11:17:11,600 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2022-02-04 11:17:11,656 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2022-02-04 11:17:11,657 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2022-02-04 11:17:11,662 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2022-02-04 11:17:11,663 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2022-02-04 11:17:11,690 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-04 11:17:11,691 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:17:11,698 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2022-02-04 11:17:11,699 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-04 11:17:11,704 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2022-02-04 11:17:11,705 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-04 11:17:11,707 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2022-02-04 11:17:11,707 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-04 11:17:11,710 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2022-02-04 11:17:11,711 INFO sqlalchemy.engine.base.Engine {}
2022-02-04 11:17:11,715 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:17:11,719 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	item_id VARCHAR(max) NULL,
	supplier_part_no VARCHAR(max) NULL,
	[desc] VARCHAR(max) NULL,
	expiration_date VARCHAR(max) NULL,
	spa_cost FLOAT(53) NULL,
	customer_id BIGINT NULL,
	multi FLOAT(53) NULL,
	inv_mast_uid VARCHAR(max) NULL
)


2022-02-04 11:17:11,719 INFO sqlalchemy.engine.base.Engine {}
2022-02-04 11:17:11,723 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-04 11:17:11,726 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2022-02-04 11:17:11,727 INFO sqlalchemy.engine.base.Engine {}

,item_id,supplier_part_no,desc,expiration_date,spa_cost,customer_id,multi,inv_mast_uid
0,HOF AAA1544,AAA1544,TVA SPA 02-03-2022 HOF AAA1544,2022-12-31 00:00:00.000,90.6948,107399,1.2,48114
1,HOF AAA1588,AAA1588,TVA SPA 02-03-2022 HOF AAA1588,2022-12-31 00:00:00.000,102.5892,107399,1.2,48115
2,HOF ABBLC,ABBLC,TVA SPA 02-03-2022 HOF ABBLC,2022-12-31 00:00:00.000,90.7500,107399,1.2,1936319
3,HOF ABBSC,ABBSC,TVA SPA 02-03-2022 HOF ABBSC,2022-12-31 00:00:00.000,90.7500,107399,1.2,1936320
4,HOF ABBSV,ABBSV,TVA SPA 02-03-2022 HOF ABBSV,2022-12-31 00:00:00.000,90.7500,107399,1.2,1936321
...,...,...,...,...,...,...,...,...
42546,BUR YS8CLBOX,YS8CLBOX,TVA SPA 02-03-2022 BUR YS8CLBOX,2022-03-01 00:00:00.000,0.9300,107399,1.2,282220
42547,BUR YSM27,YSM27,TVA SPA 02-03-2022 BUR YSM27,2022-03-01 00:00:00.000,0.9300,107399,1.2,282269
42548,BUR YSV1CLBOX,YSV1CLBOX,TVA SPA 02-03-2022 BUR YSV1CLBOX,2022-03-01 00:00:00.000,2.9500,107399,1.2,282322
42549,BUR YSV6CL,YSV6CL,TVA SPA 02-03-2022 BUR YSV6CL,2022-03-01 00:00:00.000,0.4000,107399,1.2,282338
42550,BUR YSV8CL,YSV8CL,TVA SPA 02-03-2022 BUR YSV8CL,2022-03-01 00:00:00.000,0.2200,107399,1.2,282340

In [15]:
insertspaquery = '''

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO 
price_page (
    price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id, 
    calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag, 
    other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value, 
    commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
    on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag, 
    non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date,
 price_page_type_cd, inv_mast_uid, description, 
 pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd, 
 calculation_value2,calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,	
 calculation_value8,calculation_value9,	calculation_value10,calculation_value11,calculation_value12,	
 calculation_value13,calculation_value14,calculation_value15, break1,break2,break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,break11,break12,break13,break14, 
 date_last_modified, date_created, last_maintained_by, other_cost_value, commission_cost_value, price) 
SELECT 
@newuid, 'B', 1104, 1,
211, 201, 223, 704, 
202, 211, 1,
202, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, att.expiration_date, 
212, inv_mast.inv_mast_uid, att.[desc],  
221, att.multi, 227,227, 
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
 %s, %s, 'aeaker', att.spa_cost, att.spa_cost, att.spa_cost
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.item_id = inv_mast.item_id)
WHERE att.[index] = @counter ;

INSERT INTO
price_page_po_cost_calc (
    price_page_uid, company_id, customer_id, contract_no, po_cost_multiplier, date_created, created_by, date_last_modified, last_maintained_by
)
SELECT @newuid, 1, att.customer_id, 'standard', 1, %s, 'aeaker', %s, 'aeaker'
FROM aaron_temp_table AS att
WHERE att.[index] = @counter; 



SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END

'''

In [16]:
today = dt.datetime.today().strftime('%Y/%m/%d %H:%M:%S')

conn = engine.connect()
conn = conn.execution_options(autocommit=True)
conn.execute(insertspaquery, (today, today, today, today, today))
conn.close()

2022-02-04 11:19:48,273 INFO sqlalchemy.engine.base.Engine

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO
price_page (
    price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id,
    calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag,
    other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value,
    commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
    on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag,
    non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date,
 price_page_type_cd, inv_mast_uid, description,
 pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd,
 calculation_value2,calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,
 calculation_value8,calculation_value9,	calculation_value10,calculation_value11,calculation_value12,
 calculation_value13,calculation_value14,calculation_value15, break1,break2,break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,break11,break12,break13,break14,
 date_last_modified, date_created, last_maintained_by, other_cost_value, commission_cost_value, price)
SELECT
@newuid, 'B', 1104, 1,
211, 201, 223, 704,
202, 211, 1,
202, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, att.expiration_date,
212, inv_mast.inv_mast_uid, att.[desc],
221, att.multi, 227,227,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
 %s, %s, 'aeaker', att.spa_cost, att.spa_cost, att.spa_cost
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.item_id = inv_mast.item_id)
WHERE att.[index] = @counter ;

INSERT INTO
price_page_po_cost_calc (
    price_page_uid, company_id, customer_id, contract_no, po_cost_multiplier, date_created, created_by, date_last_modified, last_maintained_by
)
SELECT @newuid, 1, att.customer_id, 'standard', 1, %s, 'aeaker', %s, 'aeaker'
FROM aaron_temp_table AS att
WHERE att.[index] = @counter;



SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END


2022-02-04 11:19:48,275 INFO sqlalchemy.engine.base.Engine ('2022/02/04 11:19:48', '2022/02/04 11:19:48', '2022/02/04 11:19:48', '2022/02/04 11:19:48', '2022/02/04 11:19:48')
2022-02-04 11:30:36,033 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
ProductGroupList  = pd.read_excel('productgroupcounts.xlsx')
ProductGroupList.to_sql('aaron_temp_table', con=engine, if_exists='replace')

2021-11-05 12:13:28,733 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-05 12:13:28,734 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-05 12:13:28,740 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-05 12:13:28,742 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-05 12:13:28,747 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2021-11-05 12:13:28,747 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2021-11-05 12:13:28,817 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2021-11-05 12:13:28,819 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2021-11-05 12:13:28,823 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2021-11-05 12:13:28,824 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2021-11-05 12:13:28,953 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-05 12:13:28,955 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-05 12:13:28,962 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2021-11-05 12:13:28,963 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-05 12:13:28,969 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2021-11-05 12:13:28,970 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2021-11-05 12:13:28,973 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2021-11-05 12:13:28,974 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2021-11-05 12:13:28,978 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2021-11-05 12:13:28,980 INFO sqlalchemy.engine.base.Engine {}
2021-11-05 12:13:28,994 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-05 12:13:29,005 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	product_group_id BIGINT NULL,
	product_group_desc VARCHAR(max) NULL,
	margin VARCHAR(max) NULL,
	multi FLOAT(53) NULL,
	pp_desc VARCHAR(max) NULL,
	customer_id BIGINT NULL,
	customer_name VARCHAR(max) NULL
)


2021-11-05 12:13:29,006 INFO sqlalchemy.engine.base.Engine {}
2021-11-05 12:13:29,019 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-05 12:13:29,020 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2021-11-05 12:13:29,021 INFO sqlalchemy.engine.base.Engine {}
2021-11-05 12:13:29,022 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-05 12:13:29,025 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-11-05 12:13:29,026 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], product_group_id, product_group_desc, margin, multi, pp_desc, customer_id, customer_name) VALUES (%(index)s, %(product_group_id)s, %(product_group_desc)s, %(margin)s, %(multi)s, %(pp_desc)s, %(customer_id)s, %(customer_name)s)
2021-11-05 12:13:29,027 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'product_group_id': 1, 'product_group_desc': 'MISC NON-STOCK', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 1PGMISC NON-STOCK', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 1, 'product_group_id': 10, 'product_group_desc': 'CONDUIT LIQUITITE', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 10PGCONDUIT LIQUITITE', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 2, 'product_group_id': 100, 'product_group_desc': 'FASTENERS', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 100PGFASTENERS', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 3, 'product_group_id': 101, 'product_group_desc': 'DISTRIBUTION EQUIPMENT', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 101PGDISTRIBUTION EQUIPMENT', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 4, 'product_group_id': 102, 'product_group_desc': 'CIRCUIT BREAKERS', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 102PGCIRCUIT BREAKERS', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 5, 'product_group_id': 103, 'product_group_desc': 'LABELS / TAGGING', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 103PGLABELS / TAGGING', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 6, 'product_group_id': 104, 'product_group_desc': 'DATA-COMM', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 104PGDATA-COMM', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 7, 'product_group_id': 106, 'product_group_desc': 'WELDING SUPPLIES', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 106PGWELDING SUPPLIES', 'customer_id': 117383, 'customer_name': 'Heritage'}  ... displaying 10 of 81 total bound parameter sets ...  {'index': 79, 'product_group_id': 98, 'product_group_desc': 'SIGNALING', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 98PGSIGNALING', 'customer_id': 117383, 'customer_name': 'Heritage'}, {'index': 80, 'product_group_id': 99, 'product_group_desc': 'PIPE VALVES & FITTINGS', 'margin': '15%', 'multi': 1.176, 'pp_desc': '15% MARGIN 99PGPIPE VALVES & FITTINGS', 'customer_id': 117383, 'customer_name': 'Heritage'})
2021-11-05 12:13:29,084 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
SelectATTQ = '''SELECT * FROM aaron_temp_table; '''

SelectQ = pd.read_sql_query(SelectATTQ, engine)
aaron_temp_table = pd.DataFrame(SelectQ)
aaron_temp_table

2021-11-05 12:13:31,633 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM aaron_temp_table;
2021-11-05 12:13:31,635 INFO sqlalchemy.engine.base.OptionEngine {}

,index,product_group_id,product_group_desc,margin,multi,pp_desc,customer_id,customer_name
0,0,1,MISC NON-STOCK,15%,1.176,15% MARGIN 1PGMISC NON-STOCK,117383,Heritage
1,1,10,CONDUIT LIQUITITE,15%,1.176,15% MARGIN 10PGCONDUIT LIQUITITE,117383,Heritage
2,2,100,FASTENERS,15%,1.176,15% MARGIN 100PGFASTENERS,117383,Heritage
3,3,101,DISTRIBUTION EQUIPMENT,15%,1.176,15% MARGIN 101PGDISTRIBUTION EQUIPMENT,117383,Heritage
4,4,102,CIRCUIT BREAKERS,15%,1.176,15% MARGIN 102PGCIRCUIT BREAKERS,117383,Heritage
...,...,...,...,...,...,...,...,...
76,76,95,CABLE TIES,15%,1.176,15% MARGIN 95PGCABLE TIES,117383,Heritage
77,77,96,GAUGES,15%,1.176,15% MARGIN 96PGGAUGES,117383,Heritage
78,78,97,WIRING DEVICES,15%,1.176,15% MARGIN 97PGWIRING DEVICES,117383,Heritage
79,79,98,SIGNALING,15%,1.176,15% MARGIN 98PGSIGNALING,117383,Heritage
80,80,99,PIPE VALVES & FITTINGS,15%,1.176,15% MARGIN 99PGPIPE VALVES & FITTINGS,117383,Heritage

In [22]:

insertpgquery = '''

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;


WHILE (@counter <= @rowcnt)

BEGIN
INSERT INTO 
price_page (price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id, 
calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag, 
other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value, 
commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag, 
non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date, price_page_type_cd,
 product_group_id, description,
  pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd,
   calculation_value2,	calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,	calculation_value8,	calculation_value9,	calculation_value10,	calculation_value11,	calculation_value12,	calculation_value13,	calculation_value14,	calculation_value15, break1,	break2,	break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,	break11,	break12,	break13,	break14,
    date_last_modified, date_created, last_maintained_by) 
SELECT
@newuid, 'B', 1104, 1,
211, 201, 223, 704, 
203, 211, 1,
203, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, '2049-12-31 00:00:00', 218,
 att.product_group_id, att.pp_desc,
   220, att.multi, 222,222,
    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
     %s, %s, 'aeaker'
FROM aaron_temp_table AS att
WHERE att.[index] = @counter ;


INSERT INTO
price_page_po_cost_calc (
    price_page_uid, company_id, customer_id, contract_no, po_cost_multiplier, date_created, created_by, date_last_modified, last_maintained_by
)
SELECT @newuid, 1, att.customer_id, 'standard', 1, %s, 'aeaker', %s, 'aeaker'
FROM aaron_temp_table AS att
WHERE att.[index] = @counter; 

SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;
END
'''

In [23]:
today = dt.datetime.today().strftime('%Y/%m/%d %H:%M:%S')

conn = engine.connect()
conn = conn.execution_options(autocommit=True)
conn.execute(insertpgquery, (today, today, today, today, today))
conn.close()

2021-11-05 12:14:09,384 INFO sqlalchemy.engine.base.Engine

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;


WHILE (@counter <= @rowcnt)

BEGIN
INSERT INTO
price_page (price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id,
calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag,
other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value,
commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag,
non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date, price_page_type_cd,
 product_group_id, description,
  pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd,
   calculation_value2,	calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,	calculation_value8,	calculation_value9,	calculation_value10,	calculation_value11,	calculation_value12,	calculation_value13,	calculation_value14,	calculation_value15, break1,	break2,	break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,	break11,	break12,	break13,	break14,
    date_last_modified, date_created, last_maintained_by)
SELECT @newuid, 'B', 1104, 1,
211, 201, 223, 704,
203, 211, 1,
203, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, '2049-12-31 00:00:00', 218,
 att.product_group_id, att.pp_desc,
   220, att.multi, 222,222,
    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
     %s, %s, 'aeaker'
FROM aaron_temp_table AS att
WHERE att.[index] = @counter ;


INSERT INTO
price_page_po_cost_calc (
    price_page_uid, company_id, customer_id, contract_no, po_cost_multiplier, date_created, created_by, date_last_modified, last_maintained_by
)
SELECT @newuid, 1, att.customer_id, 'standard', 1, %s, 'aeaker', %s, 'aeaker'
FROM aaron_temp_table AS att
WHERE att.[index] = @counter;

SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;
END

2021-11-05 12:14:09,385 INFO sqlalchemy.engine.base.Engine ('2021/11/05 12:14:09', '2021/11/05 12:14:09', '2021/11/05 12:14:09', '2021/11/05 12:14:09', '2021/11/05 12:14:09')
2021-11-05 12:14:09,538 INFO sqlalchemy.engine.base.Engine COMMIT