In [23]:
import sqlalchemy as sa
import pandas as pd
import datetime as dt
import numpy as np
import os

In [24]:
engine = sa.create_engine("mssql+pymssql://username:password@server/database", echo=True)

In [25]:
TowerReport = '''
SELECT item_id AS [Item ID], customer_id AS [Customer ID], customer_name AS [Customer Name], order_no AS [Order No] , 
po_no AS [PO No], order_date AS [Order Date], unit_price AS Sale, commission_cost AS COGS, unit_price - commission_cost AS GM, 
((unit_price - commission_cost)/unit_price)*100 as 'GM%'
FROM p21_sales_history_view 

WHERE customer_id IN (116346, 120343, 120339, 120341, 120336, 120344, 120335, 120340, 120348, 120338, 120342, 120337, 120345, 125757, 125758, 125750, 125751, 125753, 125759, 125755, 125752, 125760, 125756, 125761, 125754, 125834, 125873, 125750, 125751)
AND unit_price < commission_cost AND unit_price <> 0
AND order_date > '01/01/2021' 
ORDER BY order_date DESC

'''
TowerQuery = pd.read_sql_query(TowerReport, engine)
TowerDF = pd.DataFrame(TowerQuery)
TowerDF

2021-11-29 16:13:17,860 INFO sqlalchemy.engine.base.Engine select @@version
2021-11-29 16:13:17,861 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:13:17,864 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2021-11-29 16:13:17,865 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:13:17,873 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-11-29 16:13:17,874 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:13:17,877 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2021-11-29 16:13:17,877 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:13:17,879 INFO sqlalchemy.engine.base.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2021-11-29 16:13:17,879 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:13:17,883 INFO sqlalchemy.engine.base.OptionEngine
SELECT item_id AS [Item ID], customer_id AS [Customer ID], customer_name AS [Customer Name], order_no AS [Order No] ,
po_no AS [PO No], order_date AS [Order Date], unit_price AS Sale, commission_cost AS COGS, unit_price - commission_cost AS GM,
((unit_price - commission_cost)/unit_price)*100 as 'GM%'
FROM p21_sales_history_view

WHERE customer_id IN (116346, 120343, 120339, 120341, 120336, 120344, 120335, 120340, 120348, 120338, 120342, 120337, 120345, 125757, 125758, 125750, 125751, 125753, 125759, 125755, 125752, 125760, 125756, 125761, 125754, 125834, 125873, 125750, 125751)
AND unit_price < commission_cost AND unit_price <> 0
AND order_date > '01/01/2021'
ORDER BY order_date DESC


2021-11-29 16:13:17,884 INFO sqlalchemy.engine.base.OptionEngine {}

,Item ID,Customer ID,Customer Name,Order No,PO No,Order Date,Sale,COGS,GM,GM%
0,TB 53151 1/2 3/4,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,2021-11-29 09:42:57.323,1.33,1.6721,-0.3421,-25.721805
1,TB 52151 1/2,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,2021-11-29 09:42:57.323,0.90,0.9549,-0.0549,-6.100000
2,HOF A404CH,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,2021-11-29 09:42:57.323,18.62,37.5645,-18.9445,-101.742750
3,TB 53151 1/2 3/4,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,2021-11-29 09:42:57.323,1.33,1.6721,-0.3421,-25.721805
4,TB 52151 1/2,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,2021-11-29 09:42:57.323,0.90,0.9549,-0.0549,-6.100000
...,...,...,...,...,...,...,...,...,...,...
731,PHO 1772447,120336,TOWER AUTOMOTIVE BLUFFTON,1729947,BF52123,2021-01-05 08:17:13.280,19.48,20.2100,-0.7300,-3.747433
732,HOF ASPB,120336,TOWER AUTOMOTIVE BLUFFTON,1729947,BF52123,2021-01-05 08:17:13.280,3.42,5.7398,-2.3198,-67.830409
733,HOF A1210CH,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,2021-01-04 08:18:54.707,41.06,49.0560,-7.9960,-19.473941
734,HOF A12P10,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,2021-01-04 08:18:54.707,4.08,4.6715,-0.5915,-14.497549
735,HOF A12P10,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,2021-01-04 08:18:54.707,4.08,4.6715,-0.5915,-14.497549

In [26]:
TowerDF['Order Date'] = TowerDF['Order Date'].dt.strftime('%m-%d-%Y')
TowerDF

,Item ID,Customer ID,Customer Name,Order No,PO No,Order Date,Sale,COGS,GM,GM%
0,TB 53151 1/2 3/4,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,1.33,1.6721,-0.3421,-25.721805
1,TB 52151 1/2,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,0.90,0.9549,-0.0549,-6.100000
2,HOF A404CH,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,18.62,37.5645,-18.9445,-101.742750
3,TB 53151 1/2 3/4,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,1.33,1.6721,-0.3421,-25.721805
4,TB 52151 1/2,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,0.90,0.9549,-0.0549,-6.100000
...,...,...,...,...,...,...,...,...,...,...
731,PHO 1772447,120336,TOWER AUTOMOTIVE BLUFFTON,1729947,BF52123,01-05-2021,19.48,20.2100,-0.7300,-3.747433
732,HOF ASPB,120336,TOWER AUTOMOTIVE BLUFFTON,1729947,BF52123,01-05-2021,3.42,5.7398,-2.3198,-67.830409
733,HOF A1210CH,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,01-04-2021,41.06,49.0560,-7.9960,-19.473941
734,HOF A12P10,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,01-04-2021,4.08,4.6715,-0.5915,-14.497549
735,HOF A12P10,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,01-04-2021,4.08,4.6715,-0.5915,-14.497549

In [27]:
TowerDF.drop_duplicates(subset=['Item ID'], keep='first', inplace=True)
TowerDF

,Item ID,Customer ID,Customer Name,Order No,PO No,Order Date,Sale,COGS,GM,GM%
0,TB 53151 1/2 3/4,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,1.33,1.6721,-0.3421,-25.721805
1,TB 52151 1/2,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,0.90,0.9549,-0.0549,-6.100000
2,HOF A404CH,120342,TOWER AUTOMOTIVE MERIDIAN,1778198,ME26784,11-29-2021,18.62,37.5645,-18.9445,-101.742750
6,CH 450S,120335,TOWER AUTOMOTIVE CLINTON,1778185,CL77054,11-29-2021,0.14,0.3243,-0.1843,-131.642857
7,TB L-14-120-0-C,125755,L&W ENGINEERING - GRAND LEDGE,1778034,X1589044,11-24-2021,0.06,0.2503,-0.1903,-317.166667
...,...,...,...,...,...,...,...,...,...,...
715,JOK RT6-24VDC,120342,TOWER AUTOMOTIVE MERIDIAN,1731056,ME25361,01-12-2021,147.99,205.9900,-58.0000,-39.191837
719,GRC 114CPLG,120340,TOWER AUTOMOTIVE ELKTON,1730545,EL67382,01-08-2021,2.22,2.4406,-0.2206,-9.936937
729,HOF AS100,120345,TOWER AUTOMOTIVE SHEPHERDSVILLE,1730028,S19951,01-05-2021,4.38,7.3574,-2.9774,-67.977169
732,HOF ASPB,120336,TOWER AUTOMOTIVE BLUFFTON,1729947,BF52123,01-05-2021,3.42,5.7398,-2.3198,-67.830409
733,HOF A1210CH,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,01-04-2021,41.06,49.0560,-7.9960,-19.473941

In [28]:
TowerDF['current_cost'] = ''
TowerDF['fifo'] = ''

In [29]:
TowerDF.to_sql('aaron_temp_table', con=engine, if_exists='replace')

2021-11-29 16:14:40,294 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-29 16:14:40,295 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-29 16:14:40,327 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-29 16:14:40,328 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-29 16:14:40,334 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2021-11-29 16:14:40,335 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2021-11-29 16:14:40,718 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2021-11-29 16:14:40,719 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2021-11-29 16:14:40,754 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2021-11-29 16:14:40,756 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2021-11-29 16:14:40,901 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-29 16:14:40,902 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-29 16:14:41,007 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2021-11-29 16:14:41,009 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-29 16:14:41,160 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2021-11-29 16:14:41,161 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2021-11-29 16:14:41,183 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2021-11-29 16:14:41,184 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2021-11-29 16:14:41,210 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2021-11-29 16:14:41,212 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:14:41,229 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-29 16:14:41,234 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	[Item ID] VARCHAR(max) NULL,
	[Customer ID] VARCHAR(max) NULL,
	[Customer Name] VARCHAR(max) NULL,
	[Order No] VARCHAR(max) NULL,
	[PO No] VARCHAR(max) NULL,
	[Order Date] VARCHAR(max) NULL,
	[Sale] FLOAT(53) NULL,
	[COGS] FLOAT(53) NULL,
	[GM] FLOAT(53) NULL,
	[GM%] FLOAT(53) NULL,
	current_cost VARCHAR(max) NULL,
	fifo VARCHAR(max) NULL
)


2021-11-29 16:14:41,235 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:14:41,241 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-29 16:14:41,244 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2021-11-29 16:14:41,245 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:14:41,247 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-29 16:14:41,254 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-11-29 16:14:41,259 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], [Item ID], [Customer ID], [Customer Name], [Order No], [PO No], [Order Date], [Sale], [COGS], [GM], [GM%], current_cost, fifo) VALUES (%(index)s, %(Item ID)s, %(Customer ID)s, %(Customer Name)s, %(Order No)s, %(PO No)s, %(Order Date)s, %(Sale)s, %(COGS)s, %(GM)s, %(GM%)s, %(current_cost)s, %(fifo)s)
2021-11-29 16:14:41,259 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'Item ID': 'TB 53151 1/2 3/4', 'Customer ID': '120342', 'Customer Name': 'TOWER AUTOMOTIVE MERIDIAN', 'Order No': '1778198', 'PO No': 'ME26784', 'Order Date': '11-29-2021', 'Sale': 1.33, 'COGS': 1.6721, 'GM': -0.3421, 'GM%': -25.7218045112782, 'current_cost': '', 'fifo': ''}, {'index': 1, 'Item ID': 'TB 52151 1/2', 'Customer ID': '120342', 'Customer Name': 'TOWER AUTOMOTIVE MERIDIAN', 'Order No': '1778198', 'PO No': 'ME26784', 'Order Date': '11-29-2021', 'Sale': 0.9, 'COGS': 0.9549, 'GM': -0.0549, 'GM%': -6.1, 'current_cost': '', 'fifo': ''}, {'index': 2, 'Item ID': 'HOF A404CH', 'Customer ID': '120342', 'Customer Name': 'TOWER AUTOMOTIVE MERIDIAN', 'Order No': '1778198', 'PO No': 'ME26784', 'Order Date': '11-29-2021', 'Sale': 18.62, 'COGS': 37.5645, 'GM': -18.9445, 'GM%': -101.74274973147153, 'current_cost': '', 'fifo': ''}, {'index': 6, 'Item ID': 'CH 450S', 'Customer ID': '120335', 'Customer Name': 'TOWER AUTOMOTIVE CLINTON', 'Order No': '1778185', 'PO No': 'CL77054', 'Order Date': '11-29-2021', 'Sale': 0.14, 'COGS': 0.3243, 'GM': -0.1843, 'GM%': -131.64285714285714, 'current_cost': '', 'fifo': ''}, {'index': 7, 'Item ID': 'TB L-14-120-0-C', 'Customer ID': '125755', 'Customer Name': 'L&W ENGINEERING - GRAND LEDGE', 'Order No': '1778034', 'PO No': 'X1589044', 'Order Date': '11-24-2021', 'Sale': 0.06, 'COGS': 0.2503, 'GM': -0.1903, 'GM%': -317.1666666666667, 'current_cost': '', 'fifo': ''}, {'index': 8, 'Item ID': '14THHNRED', 'Customer ID': '120343', 'Customer Name': 'TOWER AUTOMOTIVE AUBURN', 'Order No': '1778023', 'PO No': 'AB67778', 'Order Date': '11-24-2021', 'Sale': 0.08, 'COGS': 0.1287, 'GM': -0.0487, 'GM%': -60.875, 'current_cost': '', 'fifo': ''}, {'index': 9, 'Item ID': 'EVR EN95', 'Customer ID': '120341', 'Customer Name': 'TOWER AUTOMOTIVE BELLEVUE', 'Order No': '1777920', 'PO No': 'B145948', 'Order Date': '11-23-2021', 'Sale': 0.76, 'COGS': 0.9275, 'GM': -0.1675, 'GM%': -22.03947368421053, 'current_cost': '', 'fifo': ''}, {'index': 10, 'Item ID': 'TB 6H0 B', 'Customer ID': '125758', 'Customer Name': 'L&W ENGINEERING - AXIS INTEGRATION', 'Order No': '1777872', 'PO No': 'X1589050', 'Order Date': '11-23-2021', 'Sale': 0.18, 'COGS': 0.357, 'GM': -0.177, 'GM%': -98.33333333333333, 'current_cost': '', 'fifo': ''}  ... displaying 10 of 333 total bound parameter sets ...  {'index': 732, 'Item ID': 'HOF ASPB', 'Customer ID': '120336', 'Customer Name': 'TOWER AUTOMOTIVE BLUFFTON', 'Order No': '1729947', 'PO No': 'BF52123', 'Order Date': '01-05-2021', 'Sale': 3.42, 'COGS': 5.7398, 'GM': -2.3198, 'GM%': -67.83040935672516, 'current_cost': '', 'fifo': ''}, {'index': 733, 'Item ID': 'HOF A1210CH', 'Customer ID': '120340', 'Customer Name': 'TOWER AUTOMOTIVE ELKTON', 'Order No': '1729758', 'PO No': 'EL67311', 'Order Date': '01-04-2021', 'Sale': 41.06, 'COGS': 49.056, 'GM': -7.996, 'GM%': -19.47394057476863, 'current_cost': '', 'fifo': ''})
2021-11-29 16:14:41,766 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
UpdateATT = '''
UPDATE att
SET att.current_cost = invsup.cost
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.[Item ID] = inv_mast.item_id)
INNER JOIN inventory_supplier as invsup ON (invsup.inv_mast_uid = inv_mast.inv_mast_uid)
WHERE invsup.primary_supplier_flag = 'Y'


'''

GetFIFO = '''
UPDATE  att
SET att.fifo = X.avg_fifo
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.[Item ID] = inv_mast.item_id)
INNER JOIN fifo_layers ON (inv_mast.inv_mast_uid = fifo_layers.inv_mast_uid)
INNER JOIN (SELECT inv_mast.item_id, (SUM(fifo_layers.cost * fifo_layers.fifo_layer_qty))/(Sum(fifo_layers.fifo_layer_qty)) as avg_fifo FROM fifo_layers
    INNER JOIN inv_mast ON (inv_mast.inv_mast_uid = fifo_layers.inv_mast_uid) 
    INNER JOIN aaron_temp_table AS att ON (att.[Item ID] = inv_mast.item_id)
    WHERE fifo_layers.complete <> 'Y'
    GROUP BY  inv_mast.item_id) X ON (att.[Item ID] = X.item_id)
WHERE fifo_layers.complete <> 'Y'  ;

'''
engine.execute(GetFIFO)
engine.execute(UpdateATT)

2021-11-29 16:14:49,966 INFO sqlalchemy.engine.base.Engine
UPDATE  att
SET att.fifo = X.avg_fifo
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.[Item ID] = inv_mast.item_id)
INNER JOIN fifo_layers ON (inv_mast.inv_mast_uid = fifo_layers.inv_mast_uid)
INNER JOIN (SELECT inv_mast.item_id, (SUM(fifo_layers.cost * fifo_layers.fifo_layer_qty))/(Sum(fifo_layers.fifo_layer_qty)) as avg_fifo FROM fifo_layers
    INNER JOIN inv_mast ON (inv_mast.inv_mast_uid = fifo_layers.inv_mast_uid)
    INNER JOIN aaron_temp_table AS att ON (att.[Item ID] = inv_mast.item_id)
    WHERE fifo_layers.complete <> 'Y'
    GROUP BY  inv_mast.item_id) X ON (att.[Item ID] = X.item_id)
WHERE fifo_layers.complete <> 'Y'  ;


2021-11-29 16:14:49,967 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:14:50,037 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-29 16:14:50,041 INFO sqlalchemy.engine.base.Engine
UPDATE att
SET att.current_cost = invsup.cost
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.[Item ID] = inv_mast.item_id)
INNER JOIN inventory_supplier as invsup ON (invsup.inv_mast_uid = inv_mast.inv_mast_uid)
WHERE invsup.primary_supplier_flag = 'Y'



2021-11-29 16:14:50,042 INFO sqlalchemy.engine.base.Engine {}
2021-11-29 16:14:50,106 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
SelectATT = '''
SELECT * from aaron_temp_table  '''


SelectQ = pd.read_sql_query(SelectATT, engine)
ATT = pd.DataFrame(SelectQ)
ATT

2021-11-24 11:08:24,715 INFO sqlalchemy.engine.base.OptionEngine
SELECT * from aaron_temp_table
2021-11-24 11:08:24,716 INFO sqlalchemy.engine.base.OptionEngine {}

,index,Item ID,Customer ID,Customer Name,Order No,PO No,Order Date,Sale,COGS,GM,GM%,current_cost,fifo
0,0,14THHNRED,120343,TOWER AUTOMOTIVE AUBURN,1778023,AB67778,11-24-2021,0.08,0.128700,-0.048700,-60.875000,0.124306083,0.11401125
1,1,TB 6H0 B,125758,L&W ENGINEERING - AXIS INTEGRATION,1777872,X1589050,11-23-2021,0.18,0.357000,-0.177000,-98.333333,0.496200000,0.27930366
2,2,TB 58361 1/2,120340,TOWER AUTOMOTIVE ELKTON,1777785,EL70180,11-23-2021,0.65,0.739500,-0.089500,-13.769231,1.339700000,0.90092280
3,3,APL CNN100,120340,TOWER AUTOMOTIVE ELKTON,1777785,EL70180,11-23-2021,0.24,0.248333,-0.008333,-3.472222,0.279000000,0.24800000
4,4,TB TC5344,120340,TOWER AUTOMOTIVE ELKTON,1777785,EL70180,11-23-2021,0.38,0.420700,-0.040700,-10.710526,0.719800000,0.42070000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,715,HOF ASPB,120336,TOWER AUTOMOTIVE BLUFFTON,1729947,BF52123,01-05-2021,3.42,5.739800,-2.319800,-67.830409,9.100000000,7.30975000
716,716,PHO 1772447,120336,TOWER AUTOMOTIVE BLUFFTON,1729947,BF52123,01-05-2021,19.48,20.210000,-0.730000,-3.747433,,
717,717,HOF A1210CH,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,01-04-2021,41.06,49.056000,-7.996000,-19.473941,99.400000000,91.70000000
718,718,HOF A12P10,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,01-04-2021,4.08,4.671500,-0.591500,-14.497549,10.150000000,8.80517241
719,719,HOF A12P10,120340,TOWER AUTOMOTIVE ELKTON,1729758,EL67311,01-04-2021,4.08,4.671500,-0.591500,-14.497549,10.150000000,8.80517241

In [21]:
ATT.to_excel('Tower Negative Profit Items.xlsx',index=None)

In [45]:
merged.drop_duplicates(subset=['Item ID'], keep='first', inplace=True)

In [48]:
TowerDF['Dead'] = ''

In [49]:
TowerDF.to_sql('aaron_temp_table', con=engine, if_exists='replace')

2021-11-30 10:05:02,120 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-30 10:05:02,121 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-30 10:05:02,162 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-30 10:05:02,163 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-30 10:05:02,168 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2021-11-30 10:05:02,169 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2021-11-30 10:05:02,272 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2021-11-30 10:05:02,274 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2021-11-30 10:05:02,315 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2021-11-30 10:05:02,316 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2021-11-30 10:05:02,446 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2021-11-30 10:05:02,448 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-30 10:05:02,534 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2021-11-30 10:05:02,536 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2021-11-30 10:05:02,695 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2021-11-30 10:05:02,696 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2021-11-30 10:05:02,715 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2021-11-30 10:05:02,716 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2021-11-30 10:05:02,746 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2021-11-30 10:05:02,748 INFO sqlalchemy.engine.base.Engine {}
2021-11-30 10:05:02,822 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-30 10:05:02,829 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	[Item ID] VARCHAR(max) NULL,
	[Customer ID] BIGINT NULL,
	[Customer Name] VARCHAR(max) NULL,
	[Order No] BIGINT NULL,
	[PO No] VARCHAR(max) NULL,
	[Order Date] VARCHAR(max) NULL,
	[Sale] FLOAT(53) NULL,
	[COGS] FLOAT(53) NULL,
	[GM] FLOAT(53) NULL,
	[GM%] FLOAT(53) NULL,
	dist_net FLOAT(53) NULL,
	fifo FLOAT(53) NULL,
	spa_cost FLOAT(53) NULL,
	cost FLOAT(53) NULL,
	[Autokiniton New Sell Price ] FLOAT(53) NULL,
	[Dead] VARCHAR(max) NULL
)


2021-11-30 10:05:02,831 INFO sqlalchemy.engine.base.Engine {}
2021-11-30 10:05:02,847 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-30 10:05:02,850 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2021-11-30 10:05:02,851 INFO sqlalchemy.engine.base.Engine {}
2021-11-30 10:05:02,853 INFO sqlalchemy.engine.base.Engine COMMIT
2021-11-30 10:05:02,862 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-11-30 10:05:02,869 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], [Item ID], [Customer ID], [Customer Name], [Order No], [PO No], [Order Date], [Sale], [COGS], [GM], [GM%], dist_net, fifo, spa_cost, cost, [Autokiniton New Sell Price ], [Dead]) VALUES (%(index)s, %(Item ID)s, %(Customer ID)s, %(Customer Name)s, %(Order No)s, %(PO No)s, %(Order Date)s, %(Sale)s, %(COGS)s, %(GM)s, %(GM%)s, %(dist_net)s, %(fifo)s, %(spa_cost)s, %(cost)s, %(Autokiniton New Sell Price )s, %(Dead)s)
2021-11-30 10:05:02,870 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'Item ID': '12/3SO', 'Customer ID': 120342, 'Customer Name': 'TOWER AUTOMOTIVE MERIDIAN', 'Order No': 1764802, 'PO No': 'ME26359', 'Order Date': '09-07-2021', 'Sale': 0.668, 'COGS': 0.70964, 'GM': -0.04164, 'GM%': -6.23353293413174, 'dist_net': 0.970136877, 'fifo': 0.79626373, 'spa_cost': None, 'cost': 0.970136877, 'Autokiniton New Sell Price ': 1.1688396108433734, 'Dead': ''}, {'index': 1, 'Item ID': '14THHNRED', 'Customer ID': 120343, 'Customer Name': 'TOWER AUTOMOTIVE AUBURN', 'Order No': 1778023, 'PO No': 'AB67778', 'Order Date': '11-24-2021', 'Sale': 0.08, 'COGS': 0.1287, 'GM': -0.0487, 'GM%': -60.875, 'dist_net': 0.124306083, 'fifo': 0.11401125, 'spa_cost': None, 'cost': 0.124306083, 'Autokiniton New Sell Price ': 0.14976636506024096, 'Dead': ''}, {'index': 2, 'Item ID': '16/3SO', 'Customer ID': 120336, 'Customer Name': 'TOWER AUTOMOTIVE BLUFFTON', 'Order No': 1768562, 'PO No': 'BF53757', 'Order Date': '09-29-2021', 'Sale': 0.36, 'COGS': 0.54, 'GM': -0.18, 'GM%': -50.0, 'dist_net': None, 'fifo': 0.488135, 'spa_cost': None, 'cost': 0.488135, 'Autokiniton New Sell Price ': 0.5881144578313253, 'Dead': ''}, {'index': 3, 'Item ID': '16-03SOOW-250 BLK', 'Customer ID': 120344, 'Customer Name': 'TOWER AUTOMOTIVE CHICAGO', 'Order No': 1769336, 'PO No': 'CH47763', 'Order Date': '10-05-2021', 'Sale': 0.36, 'COGS': 0.4, 'GM': -0.04, 'GM%': -11.11111111111111, 'dist_net': None, 'fifo': None, 'spa_cost': None, 'cost': 0.4, 'Autokiniton New Sell Price ': 0.48192771084337355, 'Dead': ''}, {'index': 4, 'Item ID': '16TFFNGRN', 'Customer ID': 120343, 'Customer Name': 'TOWER AUTOMOTIVE AUBURN', 'Order No': 1737782, 'PO No': 'AB66176', 'Order Date': '03-03-2021', 'Sale': 0.0639, 'COGS': 0.065, 'GM': -0.0011, 'GM%': -1.72143974960876, 'dist_net': 0.094515745, 'fifo': 0.08327166, 'spa_cost': None, 'cost': 0.094515745, 'Autokiniton New Sell Price ': 0.11387439156626507, 'Dead': ''}, {'index': 5, 'Item ID': '2TLA010026R0000', 'Customer ID': 120338, 'Customer Name': 'TOWER AUTOMOTIVE MADISON', 'Order No': 1756521, 'PO No': 'MA19556', 'Order Date': '07-16-2021', 'Sale': 263.36, 'COGS': 296.26, 'GM': -32.9, 'GM%': -12.49240583232078, 'dist_net': None, 'fifo': None, 'spa_cost': None, 'cost': 296.26, 'Autokiniton New Sell Price ': 356.9397590361446, 'Dead': ''}, {'index': 6, 'Item ID': '3M 33', 'Customer ID': 125751, 'Customer Name': 'L&W ENGINEERING - BELLEVILLE-2', 'Order No': 1776567, 'PO No': 'X1589095', 'Order Date': '11-16-2021', 'Sale': 4.25, 'COGS': 4.901, 'GM': -0.651, 'GM%': -15.31764705882353, 'dist_net': 4.9005, 'fifo': None, 'spa_cost': None, 'cost': 4.901, 'Autokiniton New Sell Price ': 5.904819277108434, 'Dead': ''}, {'index': 7, 'Item ID': '3M 35BLU', 'Customer ID': 120336, 'Customer Name': 'TOWER AUTOMOTIVE BLUFFTON', 'Order No': 1738260, 'PO No': 'BF52512', 'Order Date': '03-08-2021', 'Sale': 1.36, 'COGS': 3.3, 'GM': -1.94, 'GM%': -142.6470588235294, 'dist_net': 4.3835, 'fifo': None, 'spa_cost': None, 'cost': 4.3835, 'Autokiniton New Sell Price ': 5.281325301204819, 'Dead': ''}  ... displaying 10 of 329 total bound parameter sets ...  {'index': 327, 'Item ID': 'UNI P1117EG', 'Customer ID': 125753, 'Customer Name': 'L&W ENGINEERING - BLISSFIELD', 'Order No': 1749112, 'PO No': 'X1589019', 'Order Date': '05-26-2021', 'Sale': 0.75, 'COGS': 0.9324, 'GM': -0.1824, 'GM%': -24.32, 'dist_net': None, 'fifo': 1.35696, 'spa_cost': None, 'cost': 1.35696, 'Autokiniton New Sell Price ': 1.6348915662650603, 'Dead': ''}, {'index': 328, 'Item ID': 'WEI 1478180000', 'Customer ID': 120335, 'Customer Name': 'TOWER AUTOMOTIVE CLINTON', 'Order No': 1757228, 'PO No': 'CL75778', 'Order Date': '07-21-2021', 'Sale': 337.76, 'COGS': 340.8, 'GM': -3.04, 'GM%': -0.90004737091426, 'dist_net': None, 'fifo': None, 'spa_cost': None, 'cost': 340.8, 'Autokiniton New Sell Price ': 410.60240963855426, 'Dead': ''})
2021-11-30 10:05:03,609 INFO sqlalchemy.engine.base.Engine COMMIT