In [1]:
import sqlalchemy as sa
import pandas as pd
import datetime as dt
import numpy as np
import os
from openpyxl import load_workbook
engine = sa.create_engine("mssql+pymssql://username:password@server/database", echo=True)

In [2]:
PartNos = pd.read_excel('ConcatID.xlsx')
PartNos

    Customer Part No.                    Item ID
0          0000003175           SQD 31074-400-38
1          0000007020               ZOR F30T8-CW
2          0000007160                ZOR P72CA-8
3          0000007176                   ETN FH27
4          0000007703                 TEC 7022AH
..                ...                        ...
761        0032167288         CUT HMCP400X5W
762        0032155602                BUR YA444NU
763        0032155760            ABB DP40C3P-C/S
764        0032163327  AMP 31-71008-1000
765        3000089375                CH APJ10487

[766 rows x 2 columns]

In [3]:
CustIDdf = pd.read_excel('EntergyP21CustomerIDListing.xlsx')
CustIDdf

    Customer ID                           Customer Name
0        100473                            ENTERGY CORP
1        124760                            ENTERGY CORP
2        124761                            ENTERGY CORP
3        124762                            ENTERGY CORP
4        124763                            ENTERGY CORP
5        124764                            ENTERGY CORP
6        124765                            ENTERGY CORP
7        124766                            ENTERGY CORP
8        124767                            ENTERGY CORP
9        124768         ENTERGY CORP-INDEPENDENCE PLANT
10       124769                            ENTERGY CORP
11       124770                            ENTERGY CORP
12       124771                            ENTERGY CORP
13       124772                            ENTERGY CORP
14       124773              ENTERGY CORP-GERALD ANDRUS
15       124774                ENTERGY CORP-WHITE BLUFF
16       124775                            ENTERGY CORP
17       124776                            ENTERGY CORP
18       124777                            ENTERGY CORP
19       124778                            ENTERGY CORP
20       124779                 ENTERGY CORP-NINEMILE 9
21       124780                            ENTERGY CORP
22       124781                ENTERGY CORP-UNION POWER
23       124782                            ENTERGY CORP
24       124783                     ENTERGY CORP-SABINE
25       124784                     ENTERGY CORP-NELSON
26       124785                            ENTERGY CORP
27       124786               ENTERGY CORP-LITTLE GYPSY
28       124787             ENTERGY CORP-LAKE CATHERINE
29       124788              ENTERGY CORP-BAXTER WILSON
30       124789       ENTERGY CORP-OUACHITA/STERLINGTON
31       124790                            ENTERGY CORP
32       124791                ENTERGY CORP-LEWIS CREEK
33       124792                ENTERGY CORP-HOT SPRINGS
34       124793                  ENTERGY CORP-CALCASIEU
35       124794                    ENTERGY CORP-ATTALLA
36       124795              ENTERGY CORP-WATERFORD 1&2
37       124796                            ENTERGY CORP
38       124797     ENTERGY CORP-PERRYVILLE/STERLINGTON
39       124834  ENTERGY CORP-ST. CHARLES POWER STATION
40       125621                                 ENTERGY

In [4]:
CustomerIDs = CustIDdf['Customer ID'].to_list()
CustomerIDs

[100473,
 124760,
 124761,
 124762,
 124763,
 124764,
 124765,
 124766,
 124767,
 124768,
 124769,
 124770,
 124771,
 124772,
 124773,
 124774,
 124775,
 124776,
 124777,
 124778,
 124779,
 124780,
 124781,
 124782,
 124783,
 124784,
 124785,
 124786,
 124787,
 124788,
 124789,
 124790,
 124791,
 124792,
 124793,
 124794,
 124795,
 124796,
 124797,
 124834,
 125621]

In [5]:
df = {}
i = 1
for ID in CustomerIDs:
    df[i] = PartNos.copy(deep=True)
    df[i].loc[:, 'Customer_ID'] = ID
    i = i + 1

In [7]:
ConCat = pd.concat(df, ignore_index=True)

In [9]:
ConCat.rename(columns={'Customer Part No.': 'customer_part_no', 'Item ID': 'item_id', 'Customer_ID': 'customer_id'},inplace=True)
ConCat

      customer_part_no                    item_id  customer_id
0           0000003175           SQD 31074-400-38       100473
1           0000007020               ZOR F30T8-CW       100473
2           0000007160                ZOR P72CA-8       100473
3           0000007176                   ETN FH27       100473
4           0000007703                 TEC 7022AH       100473
...                ...                        ...          ...
31401       0032167288         CUT HMCP400X5W           125621
31402       0032155602                BUR YA444NU       125621
31403       0032155760            ABB DP40C3P-C/S       125621
31404       0032163327  AMP 31-71008-1000               125621
31405       3000089375                CH APJ10487       125621

[31406 rows x 3 columns]

In [15]:
ConCat.to_sql('aaron_temp_table', con=engine, if_exists='replace')

2022-02-09 12:46:58,452 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-09 12:46:58,455 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 12:46:58,562 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-09 12:46:58,564 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 12:46:58,586 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-02-09 12:46:58,588 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2022-02-09 12:46:58,666 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2022-02-09 12:46:58,671 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2022-02-09 12:46:58,698 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2022-02-09 12:46:58,699 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2022-02-09 12:46:58,743 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-09 12:46:58,744 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 12:46:58,819 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2022-02-09 12:46:58,820 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 12:46:58,968 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2022-02-09 12:46:58,969 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-09 12:46:58,998 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2022-02-09 12:46:58,999 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-09 12:46:59,031 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2022-02-09 12:46:59,032 INFO sqlalchemy.engine.base.Engine {}
2022-02-09 12:46:59,037 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-09 12:46:59,042 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	customer_part_no VARCHAR(max) NULL,
	item_id VARCHAR(max) NULL,
	customer_id BIGINT NULL
)


2022-02-09 12:46:59,044 INFO sqlalchemy.engine.base.Engine {}
2022-02-09 12:46:59,047 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-09 12:46:59,050 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2022-02-09 12:46:59,051 INFO sqlalchemy.engine.base.Engine {}
2022-02-09 12:46:59,058 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-09 12:46:59,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-02-09 12:46:59,249 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], customer_part_no, item_id, customer_id) VALUES (%(index)s, %(customer_part_no)s, %(item_id)s, %(customer_id)s)
2022-02-09 12:46:59,250 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'customer_part_no': '0000003175', 'item_id': 'SQD 31074-400-38', 'customer_id': 100473}, {'index': 1, 'customer_part_no': '0000007020', 'item_id': 'ZOR F30T8-CW', 'customer_id': 100473}, {'index': 2, 'customer_part_no': '0000007160', 'item_id': 'ZOR P72CA-8', 'customer_id': 100473}, {'index': 3, 'customer_part_no': '0000007176', 'item_id': 'ETN FH27', 'customer_id': 100473}, {'index': 4, 'customer_part_no': '0000007703', 'item_id': 'TEC 7022AH', 'customer_id': 100473}, {'index': 5, 'customer_part_no': '0000007961', 'item_id': 'AMT ACS-8-125D', 'customer_id': 100473}, {'index': 6, 'customer_part_no': '0000008081', 'item_id': 'SQD QO220', 'customer_id': 100473}, {'index': 7, 'customer_part_no': '0000008625', 'item_id': 'SQD 9001KA1', 'customer_id': 100473}  ... displaying 10 of 31406 total bound parameter sets ...  {'index': 31404, 'customer_part_no': '0032163327', 'item_id': 'AMP 31-71008-1000        ', 'customer_id': 125621}, {'index': 31405, 'customer_part_no': '3000089375', 'item_id': 'CH APJ10487', 'customer_id': 125621})
2022-02-09 12:47:16,636 INFO sqlalchemy.engine.base.Engine COMMIT

In [47]:
AlreadyDone = ''' SELECT [index] FROM aaron_temp_table 
INNER JOIN inv_xref ON (aaron_temp_table.customer_id = inv_xref.customer_id)
WHERE inv_xref.their_item_id = aaron_temp_table.customer_part_no ; '''
AD = pd.read_sql_query(AlreadyDone, engine)
ADinfo = pd.DataFrame(AD)
ADinfo

2022-02-09 13:06:13,330 INFO sqlalchemy.engine.base.OptionEngine  SELECT [index] FROM aaron_temp_table
INNER JOIN inv_xref ON (aaron_temp_table.customer_id = inv_xref.customer_id)
WHERE inv_xref.their_item_id = aaron_temp_table.customer_part_no ;
2022-02-09 13:06:13,332 INFO sqlalchemy.engine.base.OptionEngine {}

    index
0   11497
1   10281
2   12713
3   15145
4   16969
5   18793
6   21833
7   12105
8   20617
9   21225
10  22441
11  17577
12  19401
13  20009
14  10889
15  14537
16  18185
17  13929
18  13321
19  15753
20  16361
21  24265
22  23049
23  23657

In [48]:
DoneRows = ADinfo['index'].to_list()
DoneRows

[11497,
 10281,
 12713,
 15145,
 16969,
 18793,
 21833,
 12105,
 20617,
 21225,
 22441,
 17577,
 19401,
 20009,
 10889,
 14537,
 18185,
 13929,
 13321,
 15753,
 16361,
 24265,
 23049,
 23657]

In [24]:
type(DoneRows)

list

In [49]:
SelectQuery = '''SELECT * FROM aaron_temp_table;'''
SelectQ = pd.read_sql_query(SelectQuery, engine)
aaron_temp_table = pd.DataFrame(SelectQ)
aaron_temp_table

2022-02-09 13:06:24,281 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM aaron_temp_table;
2022-02-09 13:06:24,283 INFO sqlalchemy.engine.base.OptionEngine {}

       index customer_part_no               item_id  customer_id
0          0       0000007020          ZOR F30T8-CW       100473
1          1       0000007160           ZOR P72CA-8       100473
2          2       0000007176              ETN FH27       100473
3          3       0000007703            TEC 7022AH       100473
4          4       0000007961        AMT ACS-8-125D       100473
...      ...              ...                   ...          ...
24855  24855       0032154936   QUA PG2436CA0009          125621
24856  24856       0032167287  TPI HF2B5110CA1L           125621
24857  24857       0032167288    CUT HMCP400X5W           125621
24858  24858       0032155602           BUR YA444NU       125621
24859  24859       0032155760       ABB DP40C3P-C/S       125621

[24860 rows x 4 columns]

In [50]:
culledrows = aaron_temp_table.loc[~aaron_temp_table['index'].isin(DoneRows)]

In [51]:
culledrows.drop(columns=['index'],inplace=True)
culledrows.reset_index(drop=True,inplace=True)
culledrows

C:\Users\aeaker\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

      customer_part_no               item_id  customer_id
0           0000007020          ZOR F30T8-CW       100473
1           0000007160           ZOR P72CA-8       100473
2           0000007176              ETN FH27       100473
3           0000007703            TEC 7022AH       100473
4           0000007961        AMT ACS-8-125D       100473
...                ...                   ...          ...
24831       0032154936   QUA PG2436CA0009          125621
24832       0032167287  TPI HF2B5110CA1L           125621
24833       0032167288    CUT HMCP400X5W           125621
24834       0032155602           BUR YA444NU       125621
24835       0032155760       ABB DP40C3P-C/S       125621

[24836 rows x 3 columns]

In [53]:
culledrows['inv_mast_uid'] = ''

<ipython-input-53-a8e14cfa6339>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  culledrows['inv_mast_uid'] = ''

In [54]:
culledrows

      customer_part_no               item_id  customer_id inv_mast_uid
0           0000007020          ZOR F30T8-CW       100473
1           0000007160           ZOR P72CA-8       100473
2           0000007176              ETN FH27       100473
3           0000007703            TEC 7022AH       100473
4           0000007961        AMT ACS-8-125D       100473
...                ...                   ...          ...          ...
24831       0032154936   QUA PG2436CA0009          125621
24832       0032167287  TPI HF2B5110CA1L           125621
24833       0032167288    CUT HMCP400X5W           125621
24834       0032155602           BUR YA444NU       125621
24835       0032155760       ABB DP40C3P-C/S       125621

[24836 rows x 4 columns]

In [58]:
missingitems.to_excel('EntergyMissingItems.xlsx',index=None)

In [55]:
culledrows.to_sql('aaron_temp_table', con=engine, if_exists='replace')

2022-02-09 13:08:23,147 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-09 13:08:23,148 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 13:08:23,154 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-09 13:08:23,155 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 13:08:23,191 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-02-09 13:08:23,192 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2022-02-09 13:08:23,253 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2022-02-09 13:08:23,254 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2022-02-09 13:08:23,256 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2022-02-09 13:08:23,256 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2022-02-09 13:08:23,278 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-09 13:08:23,279 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 13:08:23,282 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2022-02-09 13:08:23,282 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-09 13:08:23,285 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2022-02-09 13:08:23,286 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-09 13:08:23,287 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2022-02-09 13:08:23,288 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-09 13:08:23,289 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2022-02-09 13:08:23,290 INFO sqlalchemy.engine.base.Engine {}
2022-02-09 13:08:23,293 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-09 13:08:23,299 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	customer_part_no VARCHAR(max) NULL,
	item_id VARCHAR(max) NULL,
	customer_id BIGINT NULL,
	inv_mast_uid VARCHAR(max) NULL
)


2022-02-09 13:08:23,300 INFO sqlalchemy.engine.base.Engine {}
2022-02-09 13:08:23,302 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-09 13:08:23,303 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2022-02-09 13:08:23,304 INFO sqlalchemy.engine.base.Engine {}
2022-02-09 13:08:23,305 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-09 13:08:23,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-02-09 13:08:23,498 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], customer_part_no, item_id, customer_id, inv_mast_uid) VALUES (%(index)s, %(customer_part_no)s, %(item_id)s, %(customer_id)s, %(inv_mast_uid)s)
2022-02-09 13:08:23,498 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'customer_part_no': '0000007020', 'item_id': 'ZOR F30T8-CW', 'customer_id': 100473, 'inv_mast_uid': ''}, {'index': 1, 'customer_part_no': '0000007160', 'item_id': 'ZOR P72CA-8', 'customer_id': 100473, 'inv_mast_uid': ''}, {'index': 2, 'customer_part_no': '0000007176', 'item_id': 'ETN FH27', 'customer_id': 100473, 'inv_mast_uid': ''}, {'index': 3, 'customer_part_no': '0000007703', 'item_id': 'TEC 7022AH', 'customer_id': 100473, 'inv_mast_uid': ''}, {'index': 4, 'customer_part_no': '0000007961', 'item_id': 'AMT ACS-8-125D', 'customer_id': 100473, 'inv_mast_uid': ''}, {'index': 5, 'customer_part_no': '0000008863', 'item_id': 'CDE PSU27015A', 'customer_id': 100473, 'inv_mast_uid': ''}, {'index': 6, 'customer_part_no': '0000008985', 'item_id': 'TEC 7012PF', 'customer_id': 100473, 'inv_mast_uid': ''}, {'index': 7, 'customer_part_no': '0000009296', 'item_id': 'TEC KUP-14D15-110', 'customer_id': 100473, 'inv_mast_uid': ''}  ... displaying 10 of 24836 total bound parameter sets ...  {'index': 24834, 'customer_part_no': '0032155602', 'item_id': 'BUR YA444NU', 'customer_id': 125621, 'inv_mast_uid': ''}, {'index': 24835, 'customer_part_no': '0032155760', 'item_id': 'ABB DP40C3P-C/S', 'customer_id': 125621, 'inv_mast_uid': ''})
2022-02-09 13:08:36,742 INFO sqlalchemy.engine.base.Engine COMMIT

In [38]:
SelectQuery = '''SELECT * FROM inv_xref where created_by = 'aeaker' ;'''
SelectQ = pd.read_sql_query(SelectQuery, engine)
invxref = pd.DataFrame(SelectQ)
invxref

2022-02-09 13:01:30,398 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM inv_xref where created_by = 'aeaker' ;
2022-02-09 13:01:30,399 INFO sqlalchemy.engine.base.OptionEngine {}

,company_id,customer_id,their_item_id,date_created,date_last_modified,last_maintained_by,delete_flag,inv_mast_uid,default_source_location_id,consignment_processing,...,last_price_paid,extended_description,item_revision_uid,avg_unit_sell_price,item_label_uom,item_label_unit_size,item_label_action_flag,item_label_text,item_label_calc_type_flag,item_label_multiplier
0,1,124760.0,P593010814,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,204230,None,2,...,None,None,None,None,None,None,None,None,None,None
1,1,124760.0,P596512612,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,198130,None,2,...,None,None,None,None,None,None,None,None,None,None
2,1,124761.0,0000008767,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,2837863,None,2,...,None,None,None,None,None,None,None,None,None,None
3,1,124761.0,0000029419,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,112027,None,2,...,None,None,None,None,None,None,None,None,None,None
4,1,124761.0,0003947769,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,198838,None,2,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4129,1,124785.0,P599976876,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,36753,None,2,...,None,None,None,None,None,None,None,None,None,None
4130,1,124785.0,P611006263,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,2050169,None,2,...,None,None,None,None,None,None,None,None,None,None
4131,1,124785.0,P611006839,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,36704,None,2,...,None,None,None,None,None,None,None,None,None,None
4132,1,124785.0,P611006853,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,2776188,None,2,...,None,None,None,None,None,None,None,None,None,None
4133,1,124785.0,P611045353,2022-02-09 12:59:55,2022-02-09 12:59:55,aeaker,N,2776188,None,2,...,None,None,None,None,None,None,None,None,None,None

In [12]:
invxref.to_excel('example.xlsx')

In [ ]:
insertcustomerIDs = '''

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(inv_xref_uid) + 1 FROM inv_xref ;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO 
inv_xref (
    inv_xref_uid, company_id, delete_flag, consignment_processing,
    date_last_modified, date_created, last_maintained_by, created_by,
    inv_mast_uid, customer_id, their_item_id
    ) 
SELECT 
@newuid, 1, 'N', 2,
 %s, %s, 'aeaker', 'aeaker',
 inv_mast_uid, att.customer_id, att.customer_part_no

FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.item_id = inv_mast.item_id)
WHERE att.[index] = @counter ;


SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END

'''

In [44]:
insertxrefbyaltcode = '''

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(inv_xref_uid) + 1 FROM inv_xref ;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO 
inv_xref (
    inv_xref_uid, company_id, delete_flag, consignment_processing,
    date_last_modified, date_created, last_maintained_by, created_by,
    inv_mast_uid, customer_id, their_item_id
    ) 
SELECT 
@newuid, 1, 'N', 2,
 %s, %s, 'aeaker', 'aeaker',
 inv_mast_uid, att.customer_id, att.customer_part_no

FROM aaron_temp_table AS att
INNER JOIN alternate_code ON (att.item_id = alternate_code.alternate_code)
WHERE att.[index] = @counter ;


SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END

'''

In [46]:
today = dt.datetime.today().strftime('%Y/%m/%d %H:%M:%S')

conn = engine.connect()
conn = conn.execution_options(autocommit=True)
conn.execute(insertxrefbyaltcode, (today, today))
conn.close()

2022-02-09 13:05:47,036 INFO sqlalchemy.engine.base.Engine

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(inv_xref_uid) + 1 FROM inv_xref ;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO
inv_xref (
    inv_xref_uid, company_id, delete_flag, consignment_processing,
    date_last_modified, date_created, last_maintained_by, created_by,
    inv_mast_uid, customer_id, their_item_id
    )
SELECT
@newuid, 1, 'N', 2,
 %s, %s, 'aeaker', 'aeaker',
 inv_mast_uid, att.customer_id, att.customer_part_no

FROM aaron_temp_table AS att
INNER JOIN alternate_code ON (att.item_id = alternate_code.alternate_code)
WHERE att.[index] = @counter ;


SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END


2022-02-09 13:05:47,037 INFO sqlalchemy.engine.base.Engine ('2022/02/09 13:05:47', '2022/02/09 13:05:47')
2022-02-09 13:05:47,823 INFO sqlalchemy.engine.base.Engine COMMIT